{% extends "web/base.html" %}
{% load static %}



{% block contenido %}

<div id="content">
<div class="container">
<div class="row">
<div class="span7">
<div class="box2">

<div class="box1">
<div class="box1_top">
	<h2><span>Contactanos</span></h2>
</div>	
<div class="box1_inner">	



<div id="note"> {{mensaje}} </div>
<div id="fields">
	<form id="ajax-contact-form" class="form-horizontal" action="{% url 'enviar_correo' %}" method="post">
		{% csrf_token %}
		<div class="control-group">
		    <label class="control-label" for="inputName">Nombre:</label>
		    <div class="controls">				      
		      <input class="" type="text" id="inputName" name="nombre" value="Nombre:" onBlur="if(this.value=='') this.value='Nombre:'" onFocus="if(this.value =='Nombre:' ) this.value=''">
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="inputEmail">E-mail:</label>
		    <div class="controls">				      
		      <input class="" type="text" id="inputEmail" name="email_remitente" value="E-mail:" onBlur="if(this.value=='') this.value='E-mail:'" onFocus="if(this.value =='E-mail:' ) this.value=''">
		    </div>
		</div>

		<div class="control-group">
		    <label class="control-label" for="inputMessage">Mensaje:</label>
		    <div class="controls">				      				      
		      <textarea class="" id="inputMessage" name="contenido" onBlur="if(this.value=='') this.value='Mensaje:'" 
                onFocus="if(this.value =='Mensaje:' ) this.value=''">Mensaje:</textarea>
		    </div>
		</div>
		
		<button type="submit" class="submit">ENVIAR</button>
	</form>
</div>	

<div class="box2_top">
	<h1><span>Redes sociales</span></h1>
</div>	
<div class="box2_inner">
	<div class="ic">
		<a href="https://www.instagram.com/brigadasmetalicas8/" class="ic1"><img src="{% static 'web/images/instagram.png' %}" alt=""></a>
		<a href="https://www.facebook.com/Brigadas-Metalicas-102041478971944" class="ic1"><img src="{% static 'web/images/facebook.png' %}" alt=""></a>
	</div>
	<br>
	<span><a href="mailto:brigadasmetalicas8@gmail.com?subject=Hablemos" target="_blank" rel="noopener">brigadasmetalicas8@gmail.com</a></span>
</div>
</div>
</div>
</div>	
</div>
<div class="span5">
<div class="box1">
<div class="box1_top">
	<h2><span>GRACIAS!!!</span></h2>
</div>	
<div class="box1_inner">
	<img src="{% static 'web/images/metal-argento.jpg' %}" alt="">
</div>
</div>	
</div>	
</div>	
</div>	
</div>

{% endblock %}