{% extends "web/base.html" %}
{% load static %}



{% block contenido %}


<div id="content">
<div class="container">
<div class="row">
<div class="span12">
<div class="box2">
<div class="box2_top">
	<h1><span>Our Photos</span></h1>
</div>	
<div class="box2_inner">	

<div id="isotope-options">
    <ul id="isotope-filters" class="clearfix">
        <li><a href="#" class="selected" data-filter="*">Show All</a></li> 
        <li><a href="#" data-filter=".isotope-filter1">Category 1</a></li> 
        <li><a href="#" data-filter=".isotope-filter2">Category 2</a></li> 
        <li><a href="#" data-filter=".isotope-filter3">Category 3</a></li> 	             
    </ul>            
</div>

<ul class="thumbnails thumbnails-iisotope" id="isotope-items">		  
    <li class="isotope-element isotope-filter1">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery01.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    <li class="isotope-element isotope-filter2">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery02.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    <li class="isotope-element isotope-filter3">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery03.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    <li class="isotope-element isotope-filter1">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery04.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    <li class="isotope-element isotope-filter2">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery05.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    <li class="isotope-element isotope-filter3">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery06.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    <li class="isotope-element isotope-filter1">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery07.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    <li class="isotope-element isotope-filter2">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery08.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    <li class="isotope-element isotope-filter3">
		<div class="thumb-isotope">
			<div class="thumbnail clearfix">
				<a href="images/blank.png">
					<figure>
						<img src="images/gallery09.jpg" alt=""><em></em>
					</figure>
					<div class="caption">							
						Ipsum dolor sit amet conse ctetur 
					</div>
				</a>				
			</div>
		</div>
    </li>
    
                            
</ul>



</div>
</div>	
</div>	
</div>	
</div>	
</div>

{% endblock %}