{% extends "web/base.html" %}
{% load static %}



{% block contenido %}

<div id="content">
<div class="container">
<div class="row">
<div class="span8">
<div class="box2">
<div class="box2_top">
	<h1><span>Nosotros</span></h1>
</div>	
<div class="box2_inner">	

<div class="thumb1 last">
	<div class="thumbnail clearfix">
		<figure class=""><img src="images/about01.jpg" alt=""></figure>
		<div class="caption">
			<p>
				<strong>BRIGADAS METALICAS</strong>
			</p>
			<p>
				Somos brigadas metalicas y este proyecto lo creamos para difundir el genero musical que nos marco y tanto amamos en la vida el "Heavy Metal". 
				<br>
				Desde nuestro lugar queremos logra que la bandas tengan mas alcanze y puedan ser mas escuchadas, Ese es el granito de arena que vamos a aportar para llevar al estilo cada vez mas arriba.
				<br>
				Esto se hace a pulmon y se agradecería mucho su colaboracion tanto de las bandas como de los visitantes de el sitio en la difusión del mismo.
				<br>
				Muchas gracias y larga vida al Heavy Metal
			</p>
			
		</div>
	</div>
</div>

</div>
</div>


{% endblock %}